<footer class="pb-10">
  <p class="block text-center text-sm mb-6">
    <a href="/">{{site.name}}</a>
    <br/><br/>
    <a target="_blank" href="https://github.com/seereadcode">
      github: @seereadcode
    </a>
    <br/>
    <a target="_blank" href="https://twitter.com/seereadnow">
      twitter: @seereadnow
    </a>
  </p>

</footer>
