<footer class="bg-gray-900 pb-10">
  <p class="block text-center text-sm mb-6">
    <a target="_blank" href="https://github.com/seereadcode">
      gh: @seereadcode
    </a>
    <a target="_blank" href="https://twitter.com/seereadnow">
      tw: @seereadnow
    </a>
  </p>

</footer>
