<div>
            {#
    <div class="md:flex justify-evenly my-6">
        <div class="flex justify-between mx-auto w-full">
            {% if pagination.href.previous %}
                <div class="mx-auto my-4">
                    <a class="md:mb-2" href="{{ pagination.href.previous | url }}">previous</a>
                </div>
            {% endif %}

            {% if pagination.href.next %}
                <div class="mx-auto my-4">
                    <a class="md:mb-2" href="{{ pagination.href.next | url }}">next</a>
                </div>
            {% endif %}
        </div>

        <div class="flex justify-between mx-auto w-full">
            {% if page.url !== pagination.href.first %}
                <div class="mx-auto mb-4">
                    <a class="md:mb-2" href="{{ pagination.href.first | url }}">first</a>
                </div>

            {% endif %}

            {% if page.url !== pagination.href.last %}
                <div class="mx-auto mb-4">
                    <a class="md:mb-2" href="{{ pagination.href.last | url }}">last</a>
                </div>
            {% endif %}
        </div>
    </div>

    {% if pagination.pages.length > 1 %}
        <p class="text-center text-sm italic mb-10">
            {{ pagination.pageNumber + 1 }}
            /
            {{ pagination.pages.length }}</p>
    {% endif %}
            #}
</div>
